{% comment %} <div class="text-center bg-bamBlue text-slate-300 font-semibold py-2 text-5xl w-screen flex"> {% endcomment %}
{% load static %}
<link rel="stylesheet" href="{% static 'voting/css/output.css' %}">
<div class="text-center bg-bamBlue text-slate-300 font-semibold py-2 text-5xl mt-3">
    <div class="px-12 mb-2 bg-bamBlue flex content-between justify-between text-bamDarkText font-semibold">
        <div>
            <a href="https://www.thomasmore.be/">
                <img src="{% static 'voting/logoTM.png' %}" alt="logo Thomas More" class="object-contain w-auto h-14">
            </a>
        </div>
        <div class="w-2/5">

        </div>
        <div class="text-xl flex-1">
            met 🖤 gemaakt door <a href="https://github.com/FrederikGielis " class="underline">Frederik</a> voor <a href="https://bricks-and-more.be/" class="underline">BaM</a> als project voor 
            <a href="https://digitalinnovation.be/" class="underline">Digital Innovation</a>
        </div>
    </div>
</div>