{% load voting_extras %}
{% load static %}
<link rel="stylesheet" href="{% static 'voting/css/output.css' %}">
<div class="text-center bg-bamBlue text-slate-300 font-semibold py-2 text-5xl">
    <nav class="px-12 mb-2 bg-bamBlue flex content-between justify-between text-slate-500 font-semibold">
        {% comment %} if staff show dashboard link, else show logo {% endcomment %}
    
    {% if request.user|has_group:"helper" or request.user.is_staff %}
        <div  class="my-auto">
            <a href="{% url 'voting:dashboard' %}">Dashboard</a>
        </div>
        {% else %}
        <div class="my-auto">
        <img src="{% static 'voting/logo.png' %}" alt="logo" class="object-contain w-auto h-14">
    </div>
    {% comment %} <div class="my-auto bg-purple-600 h-3 container">
        <img src="{% static 'voting/logo.png' %}" alt="logo" class="object-contain">
    </div> {% endcomment %}
    {% endif %}
    {% if user.is_authenticated %}
    <div  class="my-auto">
        <a href="{% url 'voting:logout' %}">Logout</a>
    </div>
    {% endif %}
</nav>
</div>