{% load static %}
<link rel="stylesheet" href="{% static 'voting/css/output.css' %}">

<nav class="px-12 mb-4 bg-bamBlue flex content-between justify-between text-bamDarkText font-semibold">
    {% comment %} if staff show dashboard link, else show logo {% endcomment %}
    {% if request.user.is_staff %}
        <div  class="my-auto">
            <a href="{% url 'voting:dashboard' %}">Dashboard</a>
        </div>
    {% else %}
    <div class="my-auto">
        <img src="{% static 'voting/logo.png' %}" alt="logo" class="object-contain w-auto h-12">
    </div>
    {% comment %} <div class="my-auto bg-purple-600 h-3 container">
        <img src="{% static 'voting/logo.png' %}" alt="logo" class="object-contain">
    </div> {% endcomment %}
    {% endif %}
    <div  class="my-auto">
        <a href="{% url 'voting:logout' %}">Logout</a>
    </div>
</nav>