{% load static %}
<link rel="stylesheet" href="{% static 'voting/css/output.css' %}">

<div class="sticky top-0 z-50 text-5xl">
    <nav class="px-4 bg-bamBlue flex content-between justify-between text-slate-300 font-semibold">
        {% comment %} if staff show dashboard link, else show logo {% endcomment %}
        {% if request.user.is_staff %}
            <div  class="my-auto">
                <a href="{% url 'voting:dashboard' %}">Dashboard</a>
            </div>
        {% else %}
        <div class="my-auto">
            <img src="{% static 'voting/logo.png' %}" alt="logo" class="w-12 h-12">
        </div>
        {% endif %}
        <div  class="my-auto">
            <a href="{% url 'voting:logout' %}">Logout</a>
        </div>
    </nav>
    
    <div class="grid grid-cols-3">
        <div class="bg-pink-600 col-span-1">1</div>
        <div class="bg-yellow-600 col-span-1">2</div>
        <div class="bg-green-600 col-span-1">3</div>
    </div>
    
    {% comment %} NUMBER SEARCH FORM {% endcomment %}
    <div class="text-center #bg-bamBlue text-slate-300 font-semibold py-2 sticky top-12 z-50">
        <div>
            <form id="search" class="grid  grid-cols-3 ">
                <label class="col-span-1">Voer nummer in:</label>
                <input class="col-span-1" id="number" name="number">
                <input class="col-span-1" type="submit" value="Zoek!" class="bg-pink-600">
            </form>
    </div>
</div>