{% extends 'voting/header.html' %}

{% block content %}
{% include "voting/includes/status.html" %}
<br>

<h2>add new Lego creation</h2>

<form method="POST" method="post" accept-charset="utf-8" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit">ADD</button>
</form>

<h2>image:</h2>
{% if lastCreation %}
name: {{lastCreation.name}} <br>
url: {{lastCreation.image.url}} <br>
Image uploaded latest:
<br>
<img src="{{ lastCreation.image.url }}" alt="...">
<br>
<br>

{% load static %}
<img src="{% static 'voting/lego.jpg' %}" alt="" height='200'>
    {% comment %} <img src="{{ img.image.url }}"> {% endcomment %}
{% endif %} 

{% endblock %}