{% extends 'voting/header.html' %}
{% block content %}

<br>


<div class="h-screen grid place-items-center">
    <div class="grid grid-flow-col columns-1 grid-rows-3 gap-y-40 place-items-center">
        <div class="col-span-1">
            <a href="{% url 'voting:stats' %}" class="text-slate-100 bg-blue-700 rounded-lg text-6xl px-5 py-2.5 ">Statistieken</a>
        </div>
        <div class="col-span-1">
            <a href="{% url 'voting:allcreations' %}" class="text-slate-100 bg-blue-700 rounded-lg text-6xl px-5 py-2.5 ">Overzicht creaties</a>
        </div>
        <div class="col-span-1">        
            <a href="{% url 'voting:myvotes' %}" class="text-slate-100 bg-blue-700 rounded-lg text-6xl px-5 py-2.5 ">Terug naar stemmen</a>
        </div>
    </div>
</div>


{% endblock %}
