<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'voting/css/output.css' %}">
  <script src="{% static 'js/messages.js' %}" defer></script>
</head>

<body class="bg-slate-200 flex flex-col  h-full">
  {% comment %} ex nav {% endcomment %}
  {% include "voting/includes/nav.html" %}
  <div class="flex-grow">
    {% block content %}
    {% endblock %}
  </div>
  <div class="flex-grow-0">
    {% include "voting/includes/footer.html" %}
  </div>
  {% include "voting/includes/messages.html" %}
</body>


