<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'voting/css/output.css' %}">
</head>

<body>
<div>
  {% comment %} ex nav {% endcomment %}
  {% comment %} {% include "voting/includes/nav.html" %} {% endcomment %}
  </nav>
    {% block content %}
    {% endblock %}
  </div>

    
</div>
<div>
  <h2>Errors</h2>
  <ul>
    {% for error in errors %}
      <li>{{ error }}</li>
    {% endfor %}
</div>
<div>
  {% comment %} {% include "main/includes/navbar.html" %} {% endcomment %}
  {% include "voting/includes/messages.html" %}
</div>

</body>