{% extends 'voting/header.html' %}

{% block content %}
{% load socialaccount %}
{% include "socialaccount/snippets/login_extra.html" %}
{% comment %} {% include "voting/includes/status.html" %} {% endcomment %}
{% include "voting/includes/nav.html" %}

{% comment %} <div>
    <form method="POST">
    {% csrf_token %}
    {{form.as_p}}
        <button style="background-color:#F4EB16; color:blue" type="submit">Login</button>
    </form>
    Don't have an account? <a href="{% url 'voting:register' %}" target=""><strong>register here</strong></a>!
</div> {% endcomment %}


<div class="text-center">
    <div>
    Log je in om te beginnen met stemmen!
</div>
<div>
    Login met:
</div>
<br>
{% comment %} GOOGLE {% endcomment %}
<div>
    <form action="{% provider_login_url 'google' %}" method="post">
        {% csrf_token %}
        <button type="submit">Google</button>
      </form>
</div>
{% comment %} TWITTER {% endcomment %}
{% comment %} <div>
    <form action="{% provider_login_url 'twitter' %}" method="post">
        {% csrf_token %}
        <button type="submit">Twitter</button>
      </form>
</div> {% endcomment %}

<div>
    {% providers_media_js %}
    <a href="{% provider_login_url "facebook" method="js_sdk" %}">Facebook Connect</a>
</div>


{% comment %} 
<div>
    <a href="{% provider_login_url 'twitter' %}">Login With Twitter</a>
</div> {% endcomment %}

</div>
{% comment %} <div>
<a href="{% provider_login_url "facebook" method="oauth2" %}">Facebook OAuth2</a>
</div> {% endcomment %}

{% endblock %}