{% extends 'voting/header.html' %}

{% block content %}
{% include "voting/includes/status.html" %}

<hr>
<br>
<h1> <a href="https://iamkate.com/code/star-rating-widget/"></a>  </h1>

{% load static %}


<style>
  .vote {
    display: flex;
  }

  .vote input {
    position: absolute;
    left: -100vw;
  }

  .vote label {
    width: 48px;
    height: 48px;
    padding: 48px 0 0;
    overflow: hidden;
    background: url('{% static 'stars.svg' %}') no-repeat top left;
  }

  .vote:not(:hover) input:indeterminate+label,
  .vote:not(:hover) input:checked~input+label,
  .vote input:hover~input+label {
    background-position: -48px 0;
  }

  .vote:not(:hover) input:focus-visible+label {
    background-position: -96px 0;
  }
</style>

<body>
  <div class="vote">
    <input id="rating1" type="radio" name="vote" value="1">
    <label for="rating1">1</label>
    <input id="rating2" type="radio" name="vote" value="2">
    <label for="rating2">2</label>
    <input id="rating3" type="radio" name="vote" value="3">
    <label for="rating3">3</label>
    <input id="rating4" type="radio" name="vote" value="4" >
    <label for="rating4">4</label>
    <input id="rating5" type="radio" name="vote" value="5">
    <label for="rating5">5</label>
  </div>



<h1> attempt at manually rendered star form</h1>


{% for creation, form in formDict.items %}
<form method="post" novalidate>
      {% csrf_token %}
    
      {{ form.non_field_errors }}
    
      {{ form.source.errors }}
      {{ form.source }}
    
      <h2>{{ creation.name }}</h2>

      <div class="vote">{{ form.vote }}</div>

      {% comment %} creationId won't show up in the form because it is a hidden inputfield {% endcomment %}
      {{ form.creationId }}

  
    <button type="submit">Submit</button>
  </form>
{% endfor %}

<hr>
<br>
vote &emsp;&emsp;&emsp; user_id &emsp;&emsp;&emsp; id
{% for item in votingLists %}
  <p>
    {{item.vote}}&emsp;&emsp;&emsp;&emsp;
    {{item.user_id}}&emsp;&emsp;&emsp;&emsp;&emsp;
    {{item.id}}&emsp;&emsp;&emsp;
  </p>
{% endfor %}

{% endblock %}





everything after this point will be ignored
<br><br><br><br>
<hr>


WORKING BACKUP
{% for creation, form in formDict.items %}
<form method="post" novalidate>
      {% csrf_token %}
    
      {{ form.non_field_errors }}
    
      {{ form.source.errors }}
      {{ form.source }}
    
      <table border="1">
    
          <tr>
            <th>{{ creation.name }}</th>
            <td>
              {{ form.vote }}
            </td>
          </tr>
          {% comment %} not rendering the hidden "creationID", cause it won't change anyway {% endcomment %}
      </table>
  
    <button type="submit">Submit</button>
  </form>
{% endfor %}