{% extends 'voting/header.html' %}

{% block content %}
{% include "voting/includes/status.html" %}

<hr>
<br>
<h1>granular HTML rendering using list</h1>

{% for formListItems in formList %}

<form method="post" novalidate>
      {% csrf_token %}
      <h2>{{ formListItems.creation.name }}</h2>
      <div class="voteform">
        {% comment %} The form is rendered manually because multiple forms are displayed on one page. This way all the forms can get unique id's {% endcomment %}
        {% for radio in formListItems.form.vote %}
        
          {% comment %} <input name="creation_{{creation.id}}" {% endcomment %}
          <input name="vote"
          type="radio" 
          id="creation_{{formListItems.creation.id}}_{{radio.id_for_label}}" 
          forloopCounter="{{ forloop.counter }}"
          formListItemsVote="{{ formListItems.vote }}"
          value="{{ forloop.counter }}"
          {% if forloop.counter == formListItems.vote %}
          checked
          {% endif %}
          >
          <label for="creation_{{formListItems.creation.id}}_{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
          {% endfor %}
        </div>
        <div><input type="hidden" name="creationId" value="{{ formListItems.creation.id }}"></div>
        {{ formListItems.creation.id }}
        

      {% comment %} creationId won't show up in the form because it is a hidden inputfield {% endcomment %}

  
    <button type="submit">Submit</button>
  </form>
{% endfor %}






<h1>granular HTML rendering</h1>

{% for creation, form in formDict.items %}
{% comment %} 
<div>
  <h3>attributes:</h3>
  <p>name: {{creation.name}}</p>
  <p>creation.id: {{creation.id}}</p>
</div>
{% endcomment %}



<form method="post" novalidate>
      {% csrf_token %}
      <h2>{{ creation.name }}</h2>
      <div class="voteform">
        {% for radio1 in form.vote %}
        {% endfor %}
        {% comment %} The form is rendered manually because multiple forms are displayed on one page. This way all the forms can get unique id's {% endcomment %}
        {% for radio in form.vote %}
        
          {% comment %} <input name="creation_{{creation.id}}" {% endcomment %}
          <input name="vote"
          type="radio" 
          id="creation_{{creation.id}}_{{radio.id_for_label}}" 
          value="{{ forloop.counter }}">
          <label for="creation_{{creation.id}}_{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
        {% endfor %}
      </div>

      {% comment %} creationId won't show up in the form because it is a hidden inputfield {% endcomment %}
      {{ form.creationId }}

  
    <button type="submit">Submit</button>
  </form>
{% endfor %}


<hr>
<br>
<h1>data straight from votinglist</h1>
vote &emsp;&emsp;&emsp; user_id &emsp;&emsp;&emsp; id
{% for item in votingLists %}
  <p>
    {{item.vote}}&emsp;&emsp;&emsp;&emsp;
    {{item.user_id}}&emsp;&emsp;&emsp;&emsp;&emsp;
    {{item.id}}&emsp;&emsp;&emsp;
  </p>
{% endfor %}
{% endblock %}
