{% extends 'voting/header.html' %}

{% block content %}
{% include "voting/includes/status.html" %}

<h2>Stats!</h2>

<h2>Creations</h2>
<h4>highest over all</h4>
<table>
    <tr>
      <th>Creation</th>
      <th>Average vote</th>
    </tr>
    {% for item in avgPerCreationHighest %}
    <tr>
        <td>{{ item }}</td>
        <td>{{ item.avg }}</td>
    </tr>
    {% endfor %}
  </table>
<h4>lowest over all</h4>
<table>
    <tr>
      <th>Creation</th>
      <th>Average vote</th>
    </tr>
    {% for item in avgPerCreationLowest %}
    <tr>
        <td>{{ item }}</td>
        <td>{{ item.avg }}</td>
    </tr>
    {% endfor %}
</table>
<h3>CREATIVITY</h3>
<h4> highest</h4>
<table>
    <tr>
      <th>Creation</th>
      <th>Average vote</th>
    </tr>
    {% for item in highestCrea %}
    <tr>
        <td>{{ item }}</td>
        <td>{{ item.avg }}</td>
    </tr>
    {% endfor %}
</table>


<h4> lowest</h4>
<table>
    <tr>
      <th>Creation</th>
      <th>Average vote</th>
    </tr>
    {% for item in lowestCrea %}
    <tr>
        <td>{{ item }}</td>
        <td>{{ item.avg }}</td>
    </tr>
    {% endfor %}
</table>
<h3>IMPRESSIVENESS</h3>
<h4> highest</h4>
<table>
    <tr>
      <th>Creation</th>
      <th>Average vote</th>
    </tr>
    {% for item in highestImpr %}
    <tr>
        <td>{{ item }}</td>
        <td>{{ item.avg }}</td>
    </tr>
    {% endfor %}
</table>

<h4>lowest</h4>
<table>
    <tr>
      <th>Creation</th>
      <th>Average vote</th>
    </tr>
    {% for item in lowestImpr %}
    <tr>
        <td>{{ item }}</td>
        <td>{{ item.avg }}</td>
    </tr>
    {% endfor %}
</table>
<h3>DETAILS</h3>
<h4>highest</h4>
<table>
    <tr>
      <th>Creation</th>
      <th>Average vote</th>
    </tr>
    {% for item in highestDeta %}
    <tr>
        <td>{{ item }}</td>
        <td>{{ item.avg }}</td>
    </tr>
    {% endfor %}
</table>
<h4>lowest</h4>
<table>
    <tr>
      <th>Creation</th>
      <th>Average vote</th>
    </tr>
    {% for item in highestDeta reversed %}
    <tr>
        <td>{{ item }}</td>
        <td>{{ item.avg }}</td>
    </tr>
    {% endfor %}
</table>

<br>
<h3>Most vote amounts</h3>
<table>
  <tr>
    <th>Creation</th>
    <th>amount of votes</th>
  </tr>
  {% for item in amountOfVotes %}
  <tr>
      <td>{{ item }}</td>
      <td>{{ item.amount }}</td>
  </tr>
  {% endfor %}
</table>
<br>

<h3>Least vote amounts</h3>
<table>
  <tr>
    <th>Creation</th>
    <th>amount of votes</th>
  </tr>
  {% for item in amountOfVotes reversed %}
  <tr>
      <td>{{ item }}</td>
      <td>{{ item.amount }}</td>
  </tr>
  {% endfor %}
</table>
<br>



<h2>Visitors</h2>
<h3>Most voting visitors</h3>
<table>
  <tr>
    <th>User</th>
    <th>amount of creations voted on</th>
  </tr>
  {% for item in mostVotes %}
  <tr>
      <td>{{ item }}</td>
      <td>{{ item.amount }}</td>
  </tr>
  {% endfor %}
</table>

<br>
most voted <br>
least voted <br>
highest voted creator <br>

{% endblock %}