* {
    /* background-color: rgb(50, 50, 50); */
}


/* 
css star rating
from: https://iamkate.com/code/star-rating-widget/
*/
.voteform {
    display: flex;
}

.voteform input {
    display: none;
}

.voteform label {
    width: 48px;
    height: 48px;
    padding: 48px 0 0;
    overflow: hidden;
    background: url('../stars.svg') no-repeat top left;
}

.voteform:not(:hover) input:indeterminate+label,
.voteform:not(:hover) input:checked~input+label,
.voteform input:hover~input+label {
    background-position: -48px 0;
}

.voteform:not(:hover) input:focus-visible+label {
    background-position: -96px 0;
}